body {
    font-family: 'Arial', sans-serif; /* Change font family as needed */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light background color */
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: 100px; /* Adjust based on your layout */
  }
  
  /* Additional styles can be added as per your design requirements */
  